<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sheas_Cealer.Props.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sheas_Cealer.Props.Settings>
            <setting name="BrowserPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpstreamUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtraArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="IsLightTheme" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IsEnglishLang" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IsLightWeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsClashHostsActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsClashDohActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrowserPathCollection" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="ThemeColorName" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeStateName" serializeAs="String">
                <value />
            </setting>
            <setting name="LangOptionName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsUpstreamMirrorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUpdateSoftwareEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUpdateHostEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCopyEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsDelayEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSearchEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsTrafficSpeedTimerRunning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsKeepRunningEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSpeedMonitorEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsExpandBarOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAlwaysAdminEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isClashHostsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </Sheas_Cealer.Props.Settings>
    </userSettings>
</configuration>